@{
    ViewBag.Title = "CPS";
}

<div class="jumbotron">
    <h1>cps</h1>
    <p class="lead">
        cps is a cross plattform package service. It's only dependency is <a href="http://www.cmake.org/">CMake</a>. cps is designed to be used for c++ projects which are built with CMake scripts. However it is not bound to this constraint. At its core it is a general package manager.
        It was inspired by npm and nuget.  
    </p>
    <p><a href="https://github.com/toeb/cutil" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">


</div>